---
layout: handbook-page-toc
title: "Configure Frontend Team"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Mission

The Configure Frontend team works on the frontend part of GitLab for the [Configure stage]. We work across both the Configure:Orchestration and Configure:System groups.

In Configure we focus amongst others on Auto DevOps, Kubernetes Configuration and Serverless applications. Our vision is to create a fantastic user experiences that help guide users through configuring their application and infrastructure in an intuitive way.

For more details about the vision for this area of the product, see the [Configure
stage] page or visit the [Configure Frontend team page](/handbook/engineering/development/ops/configure-fe/) in the handbook for insight on how we work.

[Configure stage]: /stages-devops-lifecycle/configure/

### Team members

<%= direct_team(role_regexp: /[,&] Configure/, manager_role: 'Frontend Engineering Manager, Configure') %>

### Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] Configure/, direct_manager_role: 'Frontend Engineering Manager, Configure') %>

## Useful links
* [Configure:Orchestration frontend issue board](https://gitlab.com/groups/gitlab-org/-/boards/1217245?&label_name[]=frontend&label_name[]=group%3A%3Aorchestration): this shows work in the current release based on assignees
* [Configure:System frontend issue board](https://gitlab.com/groups/gitlab-org/-/boards/1235412?&label_name[]=frontend&label_name[]=group%3A%3Asystem): this shows work in the current release based on assignees
* [#g_configure_orchestration](https://gitlab.slack.com/archives/g_configure_orchestration) in Slack
* [#g_configure_system](https://gitlab.slack.com/archives/g_configure_system) in Slack
